body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    font-size: 17px;

}
header {
    background-color: #c7deff;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.img-container {
    float: left;
    margin: 10px;
}